<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-app.js"></script>

    <!-- <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script> -->

    <!-- <link
      type="text/css"
      rel="stylesheet"
      href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css"
    /> -->

    <script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-auth.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-analytics.js"></script>
  </head>
  <body>
    <button class="button" id="openLogin">Log In</button>
    <button class="button" id="logout">Log Out</button>
    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="card">
          <div class="container">
            <form action="login" method="get">
              <label for="username">
                username:
                <input
                  class="input is-small"
                  type="text"
                  name="username"
                  id="loginUsername"
                />
              </label>
              <br />

              <label for="password">
                password:
                <input
                  class="input is-small"
                  type="password"
                  name="password"
                  id="loginPassword"
                />
              </label>
              <br />
              <input
                class="button"
                type="submit"
                value="Submit"
                id="loginButton"
              />
              <br />
              Don't have an account? <a href="#">Sign up here</a>
              <!-- this link will change the form out to create user -->
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="firebaseui-auth-container"></div> -->
    <script>
      // Initialize the FirebaseUI Widget using Firebase.
      const firebaseConfig = {
        apiKey: "AIzaSyD74xKH8gXDzANPi362tyZokbNYZLKq8uU",
        authDomain: "pantry-tracker-6483a.firebaseapp.com",
        databaseURL: "https://pantry-tracker-6483a.firebaseio.com",
        projectId: "pantry-tracker-6483a",
        storageBucket: "pantry-tracker-6483a.appspot.com",
        messagingSenderId: "292626831669",
        appId: "1:292626831669:web:8c19e1efc56729c06c947c",
        measurementId: "G-38NRS4G2JP"
      };

      firebase.initializeApp(firebaseConfig);
      firebase.analytics();

      // const auth = firebase.auth();

      $(document).on("click", "#openLogin", function() {
        $(".modal").addClass("is-active");
      });

      $(document).on("click", "#logout", function() {
        firebase.auth().signOut();
      });

      $(document).on("click", ".modal-background", function() {
        $(".modal").removeClass("is-active");
      });

      $(document).on("submit", "form", function() {
        event.preventDefault();

        const email = $("#loginUsername").val();
        const password = $("#loginPassword").val();

        firebase
          .auth()
          .signInWithEmailAndPassword(email, password)
          .catch(function(error) {
            // Handle Errors here.
            alert(error.message);
            const errorCode = error.code;
            const errorMessage = error.message;
            // ...
          });
        $(".modal").removeClass("is-active");
      });

      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          // User is signed in.
          // this is where we set user.email to state
          alert(`signed in as ${user.email}`);
          const displayName = user.displayName;
          const email = user.email;
          const emailVerified = user.emailVerified;
          const photoURL = user.photoURL;
          const isAnonymous = user.isAnonymous;
          const uid = user.uid;
          const providerData = user.providerData;
          // ...
        } else {
          alert(`signed out`);
          // User is signed out.
          // ...
        }
      });

      // CREATING NEW USER
      // firebase
      //   .auth()
      //   .createUserWithEmailAndPassword(email, password)
      //   .catch(function(error) {
      //     // Handle Errors here.
      //     const errorCode = error.code;
      //     const errorMessage = error.message;
      //   });
    </script>
  </body>
</html>
