img {
  height: auto !important;
  max-height: 5rem !important;
}
.logo {
  position: relative;
  border-radius: 5%;
}
.alignVert {
  vertical-align: middle;
}
.noHorizontalPad {
  padding-left: 0%;
  padding-right: 2.5%;
}
